In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('questions.csv')

In [3]:
df.shape

(404351, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
#creating new data frame with 3000 rows from df
new_df = df.sample(3000)

In [6]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
222905,222905,439350,439351,What is senior scientist salary in amsterdam?,How do I select in Ranji or under-19 from vara...,0
174308,174308,344378,344379,How can evaporated milk be substituted for con...,Can you substitute condensed milk for evaporat...,0
279667,279667,549801,549802,What purpose does the amplitude of an electric...,Is Guys Attracts more to Sexy Shemale?,0
38938,38938,77572,77573,How much salad should you eat per meal?,Why would a tuna salad recipe say to mix until...,0
123887,123887,245475,245476,What are dowels in construction?,Can an entrepreneur be effective at building b...,0

In [9]:
import re
from bs4 import BeautifulSoup

In [10]:
def preprocess(q):
    q = str(q).lower().strip()

    #Replace special characters with strings
    q = q.replace('%',' percent ')
    q = q.replace('@',' at ')
    q = q.replace('$',' dollar ')
    q = q.replace('₹',' rupee ')

    #the pattern '[math]' appears very freq in whole dataset
    q = q.replace('[math]','')

    # replacing some numbers with their string equivalent
    q = q.replace(',000,000,000 ', 'B ')
    q = q.replace(',000,000 ', 'M ')
    q = q.replace(',000 ', 'K ')
    q = re.sub(r'([0-9]+)000000000', r'\1B', q)
    q = re.sub(r'([0-9]+)000000', r'\1M', q)
    q = re.sub(r'([0-9]+)000', r'\1K', q)

    # decontracting words 
    # reference : wikipedia,stack overflow
    expand = {
        "ain't": "am not",
        "aren't": "are not",
        "can't": "can not",
        "can't've": "can not have",
        "'cause": "because",
        "could've": "could have",
        "couldn't": "could not",
        "couldn't've": "could not have",
        "didn't": "did not",
        "doesn't": "does not",
        "don't": "do not",
        "hadn't": "had not",
        "hadn't've": "had not have",
        "hasn't": "has not",
        "haven't": "have not",
        "he'd": "he would",
        "he'd've": "he would have",
        "he'll": "he will",
        "he'll've": "he will have",
        "he's": "he is",
        "how'd": "how did",
        "how'd'y": "how do you",
        "how'll": "how will",
        "how's": "how is",
        "i'd": "i would",
        "i'd've": "i would have",
        "i'll": "i will",
        "i'll've": "i will have",
        "i'm": "i am",
        "i've": "i have",
        "isn't": "is not",
        "it'd": "it would",
        "it'd've": "it would have",
        "it'll": "it will",
        "it'll've": "it will have",
        "it's": "it is",
        "let's": "let us",
        "ma'am": "madam",
        "mayn't": "may not",
        "might've": "might have",
        "mightn't": "might not",
        "mightn't've": "might not have",
        "must've": "must have",
        "mustn't": "must not",
        "mustn't've": "must not have",
        "needn't": "need not",
        "needn't've": "need not have",
        "o'clock": "of the clock",
        "oughtn't": "ought not",
        "oughtn't've": "ought not have",
        "shan't": "shall not",
        "sha'n't": "shall not",
        "shan't've": "shall not have",
        "she'd": "she would",
        "she'd've": "she would have",
        "she'll": "she will",
        "she'll've": "she will have",
        "she's": "she is",
        "should've": "should have",
        "shouldn't": "should not",
        "shouldn't've": "should not have",
        "so've": "so have",
        "so's": "so as",
        "that'd": "that would",
        "that'd've": "that would have",
        "that's": "that is",
        "there'd": "there would",
        "there'd've": "there would have",
        "there's": "there is",
        "they'd": "they would",
        "they'd've": "they would have",
        "they'll": "they will",
        "they'll've": "they will have",
        "they're": "they are",
        "they've": "they have",
        "to've": "to have",
        "wasn't": "was not",
        "we'd": "we would",
        "we'd've": "we would have",
        "we'll": "we will",
        "we'll've": "we will have",
        "we're": "we are",
        "we've": "we have",
        "weren't": "were not",
        "what'll": "what will",
        "what'll've": "what will have",
        "what're": "what are",
        "what's": "what is",
        "what've": "what have",
        "when's": "when is",
        "when've": "when have",
        "where'd": "where did",
        "where's": "where is",
        "where've": "where have",
        "who'll": "who will",
        "who'll've": "who will have",
        "who's": "who is",
        "who've": "who have",
        "why's": "why is",
        "why've": "why have",
        "will've": "will have",
        "won't": "will not",
        "won't've": "will not have",
        "would've": "would have",
        "wouldn't": "would not",
        "wouldn't've": "would not have",
        "y'all": "you all",
        "y'all'd": "you all would",
        "y'all'd've": "you all would have",
        "y'all're": "you all are",
        "y'all've": "you all have",
        "you'd": "you would",
        "you'd've": "you would have",
        "you'll": "you will",
        "you'll've": "you will have",
        "you're": "you are",
        "you've": "you have",
        "'ve": " have",
        "n't": " not",
        "'re": " are",
        "'ll": " will"
    }
    q_expand = []
    for word in q.split():
        if word in expand:
            word = expand[word]
        q_expand.append(word)
    q = ' '.join(q_expand)

    #Removing html tags
    q = BeautifulSoup(q)
    q = q.get_text()

    #removing punctuations
    p = re.compile('\W')
    q = re.sub(p,' ',q).strip()

    return q

In [11]:
new_df['question1'] = new_df['question1'].apply(preprocess)
new_df['question2'] = new_df['question2'].apply(preprocess)

C:\Users\asus\AppData\Local\Temp\ipykernel_3132\2176929224.py:154: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  q = BeautifulSoup(q)

In [12]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [13]:
new_df.duplicated().sum()

0

In [19]:
# Feature engineering

In [20]:
new_df['q1_len'] = new_df['question1'].str.len()
new_df['q2_len'] = new_df['question2'].str.len()
new_df['q1_words'] = new_df['question1'].apply(lambda r : len(r.split(" ")))
new_df['q2_words'] = new_df['question2'].apply(lambda r : len(r.split(" ")))
def getCommonWords(row):
    w1 = set(map(lambda word : word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word : word.lower().strip(), row['question2'].split(" ")))
    w = (w1 & w2)
    return len(w)
new_df['common_words'] = new_df.apply(getCommonWords, axis=1)
def get_totalWords(row):
    w1 = set(map(lambda word : word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word : word.lower().strip(), row['question2'].split(" ")))
    l1 = len(w1)
    l2 = len(w2)
    return (l1+l2)
new_df['words_count'] = new_df.apply(get_totalWords, axis=1)
new_df['word_share'] = round(new_df['common_words']/new_df['words_count'],2)

In [22]:
from nltk.corpus import stopwords

def get_tokenFeatures(row):
    q1 = row['question1']
    q2 = row['question2']
    
    safe_div = 0.0001 #to avoid overflow
    stopWords = stopwords.words("english")
    tokenFeatures = [0.0]*8

    # Converting the sentences to tokens
    q1_tokens = q1.split()
    q2_tokens = q2.split()

    if(len(q1_tokens) == 0 or len(q2_tokens) == 0):
        return tokenFeatures

    # Stopwords
    q1_stops = set([word for word in q1_tokens if word in stopWords])
    q2_stops = set([word for word in q2_tokens if word in stopWords])
    # Non-stopwords
    q1_words = set([word for word in q1_tokens if word not in stopWords])
    q2_words = set([word for word in q2_tokens if word not in stopWords])

    # count of common tokens in ques pair
    common_tokens_count = len(set(q1_tokens).intersection(set(q2_tokens)))
    # count of common non-stopwords in ques pair
    common_word_count = len(q1_words.intersection(q2_words))
    # count of common stopwords in ques pair
    common_stopwords_count = len(q1_stops.intersection(q2_stops))

    # 1. the ratio of the number of common words to the length of the smaller question
    tokenFeatures[0] = common_word_count / (min(len(q1_words),len(q2_words)) + safe_div)
    # 2. the ratio of the number of common words to the length of the larger question
    tokenFeatures[1] = common_word_count / (max(len(q1_words),len(q2_words)) + safe_div)
    # 3. the ratio of the number of common stop words to the smaller stop word count among the two questions
    tokenFeatures[2] = common_stopwords_count / (min(len(q1_stops),len(q2_stops)) + safe_div)
    # 4. the ratio of the number of common stop words to the larger stop word count among the two questions
    tokenFeatures[3] =  common_stopwords_count / (max(len(q1_stops),len(q2_stops)) + safe_div)
    # 5. the ratio of the number of common tokens to the smaller token count among the two questions
    tokenFeatures[4] = common_tokens_count / (min(len(q1_tokens),len(q2_tokens)) + safe_div)
    # 6. the ratio of the number of common tokens to the larger token count among the two questions
    tokenFeatures[5] = common_tokens_count / (max(len(q1_tokens),len(q2_tokens)) + safe_div)
    # 7. last word of both questions is same or not
    tokenFeatures[6] = int(q1_tokens[-1] == q2_tokens[-1])
    # 8. First word of both questions is same or not
    tokenFeatures[7] = int(q1_tokens[0] == q2_tokens[0])
    
    return tokenFeatures

tokenFeatures = new_df.apply(get_tokenFeatures, axis=1)

new_df["cwc_min"] = list(map(lambda x: x[0], tokenFeatures))
new_df["cwc_max"] = list(map(lambda x: x[1], tokenFeatures))
new_df["csc_min"] = list(map(lambda x: x[2], tokenFeatures))
new_df["csc_max"] = list(map(lambda x: x[3], tokenFeatures))
new_df["ctc_min"] = list(map(lambda x: x[4], tokenFeatures))
new_df["ctc_max"] = list(map(lambda x: x[5], tokenFeatures))
new_df["last_word_eq"] = list(map(lambda x: x[6], tokenFeatures))
new_df["first_word_eq"] = list(map(lambda x: x[7], tokenFeatures))

In [24]:
import distance

def get_lengthFeatures(row):
    q1 = row['question1']
    q2 = row['question2']
    lengthFeatures = [0.0]*3
    # converting to tokens
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    if len(q1_tokens)==0 or len(q2_tokens)==0 :
        return lengthFeatures
    # 1. Mean length : Mean of the length of the two questions
    lengthFeatures[0] = (len(q1_tokens)+len(q2_tokens))/2
    # 2. abs_len_diff: Absolute difference between the length of the two questions 
    lengthFeatures[1] = abs(len(q1_tokens) - len(q2_tokens))
    # 3. longest_substr_ratio: Ratio of the length of the longest substring among the two questions to the length of the smaller question
    strs = list(distance.lcsubstrings(q1,q2))
    lengthFeatures[2] = len(strs[0]) / (min(len(q1), len(q2)) + 1)

    return lengthFeatures


lengthFeatures = new_df.apply(get_lengthFeatures, axis=1)

new_df['mean_len'] = list(map(lambda x : x[0], lengthFeatures))
new_df['abs_len_diff'] = list(map(lambda x : x[1], lengthFeatures))
new_df['longest_substr_ratio'] = list(map(lambda x : x[2], lengthFeatures))

In [25]:
from fuzzywuzzy import fuzz

def get_fuzzyFeatures(row):
    q1 = row['question1']
    q2 = row['question2']
    fuzzyFeatures = [0.0]*4

    # 1. fuzz_ratio: fuzz_ratio score from fuzzywuzzy
    fuzzyFeatures[0] = fuzz.QRatio(q1,q2)
    # 2. fuzz_partial_ratio: fuzz_partial_ratio from fuzzywuzzy
    fuzzyFeatures[1] = fuzz.partial_ratio(q1,q2)
    # 3. token_sort_ratio: token_sort_ratio from fuzzywuzzy
    fuzzyFeatures[2] = fuzz.token_sort_ratio(q1,q2)
    # 4. token_set_ratio: token_set_ratio from fuzzywuzzy
    fuzzyFeatures[3] = fuzz.token_set_ratio(q1,q2)

    return fuzzyFeatures

fuzzyFeatures = new_df.apply(get_fuzzyFeatures,axis=1)
new_df['fuzz_ratio'] = list(map(lambda x : x[0], fuzzyFeatures))
new_df['fuzz_partial_ratio'] = list(map(lambda x : x[1], fuzzyFeatures))
new_df['fuzz_sort_ratio'] = list(map(lambda x : x[2], fuzzyFeatures))
new_df['token_set_ratio'] = list(map(lambda x : x[3], fuzzyFeatures))

C:\Anaconda\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [26]:
new_df.shape

(3000, 28)

In [27]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_words,q2_words,...,ctc_max,last_word_eq,first_word_eq,mean_len,abs_len_diff,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,fuzz_sort_ratio,token_set_ratio
222905,222905,439350,439351,what is senior scientist salary in amsterdam,how do i select in ranji or under 19 from vara...,0,44,92,7,20,...,0.052631,0,0,13.0,12,0.088889,25,36,27,20
174308,174308,344378,344379,how can evaporated milk be substituted for con...,can you substitute condensed milk for evaporat...,0,57,69,9,13,...,0.416663,0,0,10.5,3,0.293103,41,50,78,85
279667,279667,549801,549802,what purpose does the amplitude of an electric...,is guys attracts more to sexy shemale,0,58,37,10,7,...,0.000000,0,0,8.5,3,0.078947,23,37,27,27
38938,38938,77572,77573,how much salad should you eat per meal,why would a tuna salad recipe say to mix until...,0,38,60,8,12,...,0.083333,0,0,10.0,4,0.179487,41,42,43,41
123887,123887,245475,245476,what are dowels in construction,can an entrepreneur be effective at building b...,0,31,113,5,16,...,0.000000,0,0,10.0,10,0.156250,21,48,28,30

In [28]:
final_df = new_df.drop(columns=['id','qid1','qid2','question1','question2','is_duplicate'])
final_df.shape

(3000, 22)

In [29]:
final_df.head()

,q1_len,q2_len,q1_words,q2_words,common_words,words_count,word_share,cwc_min,cwc_max,csc_min,...,ctc_max,last_word_eq,first_word_eq,mean_len,abs_len_diff,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,fuzz_sort_ratio,token_set_ratio
222905,44,92,7,20,1,26,0.04,0.000000,0.000000,0.333322,...,0.052631,0,0,13.0,12,0.088889,25,36,27,20
174308,57,69,9,13,5,19,0.26,0.749981,0.749981,0.499988,...,0.416663,0,0,10.5,3,0.293103,41,50,78,85
279667,58,37,10,7,0,17,0.00,0.000000,0.000000,0.000000,...,0.000000,0,0,8.5,3,0.078947,23,37,27,27
38938,38,60,8,12,1,20,0.05,0.199996,0.142855,0.000000,...,0.083333,0,0,10.0,4,0.179487,41,42,43,41
123887,31,113,5,16,0,18,0.00,0.000000,0.000000,0.000000,...,0.000000,0,0,10.0,10,0.156250,21,48,28,30

In [30]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
222905,what is senior scientist salary in amsterdam,how do i select in ranji or under 19 from vara...
174308,how can evaporated milk be substituted for con...,can you substitute condensed milk for evaporat...
279667,what purpose does the amplitude of an electric...,is guys attracts more to sexy shemale
38938,how much salad should you eat per meal,why would a tuna salad recipe say to mix until...
123887,what are dowels in construction,can an entrepreneur be effective at building b...

In [31]:
#using TF_IDF vectorizer

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfvectorizer = TfidfVectorizer(max_features=1000)

questions = list(ques_df['question1']) + list(ques_df['question2'])
q1_arr,q2_arr = np.vsplit(tfidfvectorizer.fit_transform(questions).toarray(),2)

In [33]:
temp_df1 = pd.DataFrame(q1_arr, index = ques_df.index) # data frame having embeddings of questions from question1
temp_df2 = pd.DataFrame(q2_arr, index = ques_df.index) # data frame having embeddings of questions from question2
temp_df = pd.concat([temp_df1,temp_df2], axis = 1)

In [34]:
temp_df.shape

(3000, 2000)

In [35]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
222905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
174308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.177773,0.0,0.0,0.0,0.0,0.0
279667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
38938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
123887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [36]:
final_df = pd.concat([final_df,temp_df],axis=1)

In [37]:
final_df.shape

(3000, 2022)

In [38]:
final_df['is_duplicate'] = new_df['is_duplicate']

In [39]:
final_df.head()

,q1_len,q2_len,q1_words,q2_words,common_words,words_count,word_share,cwc_min,cwc_max,csc_min,...,991,992,993,994,995,996,997,998,999,is_duplicate
222905,44,92,7,20,1,26,0.04,0.000000,0.000000,0.333322,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
174308,57,69,9,13,5,19,0.26,0.749981,0.749981,0.499988,...,0.0,0.0,0.0,0.177773,0.0,0.0,0.0,0.0,0.0,0
279667,58,37,10,7,0,17,0.00,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
38938,38,60,8,12,1,20,0.05,0.199996,0.142855,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
123887,31,113,5,16,0,18,0.00,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0

In [40]:
final_df.to_csv('02_new_tfidf.csv',index=False)

In [17]:
temp_df.to_csv('new_tfidf.csv',index=False)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
rf = RandomForestRegressor()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
mean_squared_error(y_test,y_pred)

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
xr = XGBRegressor()
xr.fit(x_train,y_train)
y_pred = xr.predict(x_test)
mean_squared_error(y_test,y_pred)

In [ ]:
# import gensim
# import gensim.downloader as api
# glove_model = api.load("glove-wiki-gigaword-300")

In [ ]:
# questions = list(ques_df['question1']) + list(ques_df['question2'])
# def get_sentence_embedding(sentence):
#     embedding = []
#     for word in sentence.split():
#         if word in glove_model:
#             embedding.append(glove_model[word])
#     if embedding:
#         return np.mean(embedding, axis=0)
#     else:
#         return np.zeros_like(glove_model.vectors[0])

In [ ]:
# ques_df['question1_embedding'] = ques_df['question1'].apply(get_sentence_embedding)
# ques_df['question2_embedding'] = ques_df['question2'].apply(get_sentence_embedding)

In [ ]:
# #*****************************************************************************
# q1_arr,q2_arr = np.vsplit(np.array([get_sentence_embedding(question) for question in questions]),2)
# temp_df1 = pd.DataFrame(q1_arr, index = ques_df.index) # data frame having embeddings of questions from question1
# temp_df2 = pd.DataFrame(q2_arr, index = ques_df.index) # data frame having embeddings of questions from question2
# temp_df = pd.concat([temp_df1,temp_df2], axis = 1)

In [ ]:
# final_df = new_df.drop(columns=['id','qid1','qid2','question1','question2'])
# final_df.head()

In [ ]:
# final_df = pd.concat([final_df,temp_df],axis=1)
# final_df.head()

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test = train_test_split(final_df.iloc[:,0:-1].values,final_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score
# rf = RandomForestClassifier()
# rf.fit(x_train,y_train)
# y_pred = rf.predict(x_test)
# accuracy_score(y_test,y_pred)